.occupant{:class => occupant.remark? && "ttip", :title => occupant.remarks }
  %span{:class => highlight_if_changed(occupant) }
    = occupant.user.first_name
    = occupant.user.surname
  %span.annotation= "T" if occupant.status == "Tentative"


