%div
  :css
    border-bottom: 2px solid;
    color: #990000;
    background: #CCCCCC;
    font: 40px "Times New Roman", serif;
    height: 120px;
    text-align: center;
    padding: 0;
  = image_tag attachments['heading_s.png'].url
  School Run
    
%div
  :css
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
  = @message







