%h1 Schoolrun
.about
  %hr
  %p
    In an attempt to smooth the organisation of the girls' pickups and dropoffs,
    we are bringing technology to our aid. We have developed a simple web-based
    system, that I hope will make our lives easier, and reduce the volume of
    emails, texts, phone calls, BBMs etc that it seems to take to get our
    loved ones home after clubs each week.

  %p The concept is (I hope) simple.
  %ul
    %li There is a website that we can all access (girls and parents), with
    %li a list of events or activities that girls may need transport to and from.
    %li Girls log on and request to be transported
    %li Parents log on and volunteer to provide transport
    %li girls and parents can see who going where.
    %li girls and parents can add/delete/modify events, as required

  %p
    We have road-tested this, and it appears to work OK.
    However, its not a commercial product, so
  %ol
    %li it doesn't look very "glossy",
    %li it will probably have a few bugs
    %li it can probably be improved and enhanced

  %p
    I suggest we give this a run for a few weeks to see if it does indeed make
    life easier. We can always revert to our current email/phone/text system...

  %h3 A couple of instructions

  %ul
    %li
      When you first click the link, it takes several seconds to respond.
      Don't worry. The login screen should appear eventually. After that the
      response should be quick enough.
    %li
      First time you logon, it will ask you to change your password. Please
      also check/correct your email address.
    %li
      It then gives you a listing of the events. I have put the sporting events
      in, but there's no reason why this system cannot be used for other events
      (gourmet club, school play, etc).
    %li
      The listing of events shows students who have requested transport against
      events, and any parents that have nominated to drive against events.
    %li
      clicking on the event title goes to a bit of detail for that event. 
      Girls who want to request transport click on the "Request Pickup" link,
      enter any comments on the next page then click "save".
    %li
      Parents nominating to drive do similarly - click on "nominate as driver",
      add any comments or mark as "Tentative", and then click "save".
    %li
      The links at the bottom of the individual event page allow the details of
      event to be modified (eg change time, description, etc) or deleted.
    %li
      The link on the bottom of the event listing page allows new events to be
      added.

  %h3 Other remarks
  %ul
    %li Alice S can run through this with any of the girls, if needed.
    %li
      I've not tested this on iPhones or iPads, it should be OK on iPads,
      but not sure about the phones.
    %li
      I can do a bulk upload of events, if we want to add a whole term's
      fixtures.
    %li
      We could probably extend this to additional people if there was a need.


  %h3 Duncan &amp; Claire
