// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-table {
}

.annotation {
    color: #006600;
    font-style: italic;
}

.show-details {
  margin-left: 4em;
}

.snot {
  margin-left: 20px;
  
  a {
    //margin-left: 20px;
    font-weight: bold;
    margin-bottom: 3px;
    padding: 5px;
    border: 1px solid #aa0000;
  }
}

// tooltip for traveller's comments
.ttip {
  color: #CC0099;
}

// overlay for event comments on index page
.event-overlay {
  display: none;
  z-index: 10000;
  background-color: #ffd0d0;
  width: 550px;
  min-height: 200px;
  border: 1px solid #990000;
  opacity: 0.8;


  .close {
    background-image: image-url("close.png");
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
    height: 35px;
    width: 35px;
  }

  h3 {
    background-color: #FFd0d0;
    padding-left: 10px;
  }
  h3:after {
    content: ":";
  }

  dl {
    margin: 0 20px;
    padding: 0 5px;
    background-color: #ffffff;
  }
  dt {
    font-style: italic;
    color: purple;
  }
  dd {
    color: #000;
  }
}

div.contentWrap {
  color: #333;
  //height: 441px;
  overflow-y: auto;

}

.cancelled {
    //color: #999;
    text-decoration:line-through;
}
