// Place all the styles related to the event_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-box {
  padding: 0 0 0 13px;

  dl {
    margin-bottom: 10px;
  }

  dt {
    color: purple;
    font-style: italic;
  }

  dd {
    padding-bottom: 6px;

    p {
      margin: 0 0 2px 0;
      //line-height: 16px;

    }
  }

  .comment-links {
    margin-left: 10em;
    margin-bottom: 6px;
  }

}

.event-overlay {
  display: none;
  z-index: 10000;
  background-color: #333;
  width: 675px;
  min-height: 200px;
  border: 1px solid #666;

  .close {
    background-image: image-url("close.png");
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
    height: 35px;
    width: 35px;
  }

}

div.contentWrap {
  color: #fff;
  height: 441px;
  overflow-y: auto;

}
